.email
{
    font-family: arial;
    color: rgb(133, 132, 132);
    font-size: 15px;
    margin-bottom: 5px;
}

.search-bar
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 198px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(153, 152, 152);
}

.agree
{
    font-family: arial;
    color:rgb(133, 132, 132);
    font-size: 15px;
}

.button
{
    text-align: left;

}

.button2
{
    font-family: arial;
    color: white;
    background-color: rgb(33, 93, 204);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 140px;
    padding-right: 140px;
    border-radius: 18px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.button2:hover
{
    opacity: 0.8;
}

.button2:active
{
    opacity: 0.5;
}